<!doctype html>
<head>
  <meta http-equiv="content-type" content="text/html; carset=utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title><%= name %></title>
  <style type="text/css" media="screen">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    canvas {
      margin: 50px auto;
    }
  </style>
</head>
<body>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.0.4/phaser.min.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
